{% extends "base.html" %}

{% block title %}予約取消{% endblock %}
{% block content %}
<h1>予約取消</h1>

<form method="post">
    {% csrf_token %}
    以下の予約を取消してもよろしいですか？<br><br>
    <th>予約者：</th>{{ reservation.username }}<br>
    <th>店舗ID：</th>{{ reservation.restaurantid }}<br>
    <th>予約日：</th>{{ reservation.reservationdate }}<br>
    <th>予約人数：</th>{{ reservation.numberofpeople }}<br>
    <th>開始時間：</th>{{ reservation.starttime }}<br>
    <th>終了時間：</th>{{ reservation.endtime }}<br><br>
 
    <a href="{% url 'reservation_list' %}?restaurantid={{ reservation.username }}">戻る</a>
    <input type="submit" class="btn btn-danger" value="削除">
</form>
{% endblock %}
